[submodule "protos/policy-machine-protos"]
	path = protos/policy-machine-protos
	url = https://github.com/usnistgov/policy-machine-protos.git
[submodule "protos"]
	path = protos
	url = https://github.com/usnistgov/policy-machine-protos.git
